{% load static %}
{% include "header.html" %}

<body>
  <!-- <h1>{% for key,value in title.items %}{{ value }}{% endfor %}</h1> -->
  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="booking-cta">
              <h1>Realice una nueva reserva</h1>
              <p>O revise las existentes <a class="link" href="list">aquí</a>.</p>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-1">
            <div class="booking-form">
              <form method="post" action={% url 'offers' %}>
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input name="check_in" class="form-control" type="date" required>
                      <span class="form-label">Ingreso</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input name="check_out" class="form-control" type="date" required>
                      <span class="form-label">Salida</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Núm. Huéspedes</span>
                      <select name="num_guests" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
                <div class="form-btn">
                  <input type="submit" class="submit-btn" value="Buscar">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'reservations/js/jquery.min.js' %}"></script>
  <script src="{% static 'reservations/js/form_fields.js' %}"></script>


</body>

</html>
